<section>
    <div class="background"></div>

    <header class="header">
        <img src="img/logo.svg" alt="logo" class="header__logo">
        <img src="img/logo_symbol.svg" alt="logo-symbol" class="header__logo-symbol">
        <app-login-btn></app-login-btn>
    </header>

    <div class="mid">
        <h1 class="mid__h1">Movies, TV shows, and more</h1>
        <h2 class="mid__h2">watch whenever you want wherever you want</h2>
        <h3 class="mid__h3">Enter your email to create or restart your subscription</h3>
        <div class="mid__input-and-btn">
            <input [(ngModel)]="ls.email" class="mid__email-input" type="email" placeholder="Email Address">
            <a routerLink="/register" class="mid__btn">Sign Up <img src="img/chevron_right.svg" alt=">"></a>
        </div>
    </div>

    <div class="imprint-and-pp">
        <a routerLink="/privacy-policy" class="imprint-and-pp__pp">Datenschutz</a>
        <a routerLink="/imprint" class="imprint-and-pp__imprint">Impressum</a>
    </div>
</section>