<section>
    <header class="header">
        <img src="img/logo.svg" alt="logo" class="header__logo">
        <img (click)="returnToPreviousPage()" src="img/arrow_back.svg" alt="arrow_back" class="header__arrow">
    </header>

    <div class="paragraph">
        <div class="paragraph__group">
            <h2 class="paragraph__group--h2">Datenschutzerklärung</h2>
            <p class="paragraph__group--p">Präambel</p>
            <p class="paragraph__group--p">Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären,
                welche Arten Ihrer personenbezogenen Daten (nachfolgend auch kurz als "Daten" bezeichnet) wir zu welchen
                Zwecken und in welchem Umfang verarbeiten. Die Datenschutzerklärung gilt für alle von uns durchgeführten
                Verarbeitungen personenbezogener Daten, sowohl im Rahmen der Erbringung unserer Leistungen als auch
                insbesondere auf unseren Webseiten, in mobilen Applikationen sowie innerhalb externer Onlinepräsenzen,
                wie z. B. unserer Social-Media-Profile (nachfolgend zusammenfassend bezeichnet als "Onlineangebot").
                <br><br>Die verwendeten Begriffe sind nicht geschlechtsspezifisch.
                <br><br>Stand: 22. Oktober 2024
            </p>
        </div>
    </div>

    <div class="paragraph">
        <div class="paragraph__group">
            <h2 class="paragraph__group--h2">Verantwortlicher</h2>
            <p class="paragraph__group--p">
                Ersan Bihorac
                <br>Neudorferstraße 170
                <br>47057 Duisburg Germany
                <br>E-Mail-Adresse: ersan.bihorac.2003&#64;gmail.com
                <br>Telefon: +49 163 7183213
            </p>
        </div>
    </div>

    <div class="paragraph">
        <div class="paragraph__group">
            <h2 class="paragraph__group--h2">...</h2>
            <p class="paragraph__group--p">...</p>
            <p class="paragraph__group--p">...</p>
            <p class="paragraph__group--p">...</p>
        </div>
    </div>
</section>