<div class="info" [ngClass]="{'no-video': !this.cs.videos_uploaded}">
    <video *ngIf="this.cs.videos_uploaded" [muted]="'muted'" [src]="this.cs.selectedVideo.video_preview" class="video" #videoPlayer autoplay="autoplay">
        <source  type="type/mp4"/>
        Your browser does not suppor the video tag.
    </video>
    <div *ngIf="this.cs.videos_uploaded" class="video__bg" #videoBg></div>

    <h1 class="info__h1">{{ this.cs.selectedVideo.video_title }}</h1>
    <p class="info_p">{{ this.cs.selectedVideo.video_description }}</p>
    <a *ngIf="this.cs.videos_uploaded" class="info__btn" (click)="openVideoPlayer(this.cs.selectedVideo.video_source)">
        <img src="img/play_symbol.svg" alt="play" class="info__btn--symbol">
        Play
    </a>
</div>
