<section>
    <div class="background"></div>

    <header class="header">
        <img src="img/logo.svg" alt="logo" class="header__logo">
        <img src="img/logo_symbol.svg" alt="logo-symbol" class="header__logo-symbol">
        <app-login-btn></app-login-btn>
    </header>

    <div class="positioning-wrapper">
        <form (ngSubmit)="submit()">
            <div class="sign-up">
                <h1 class="sign-up__h1">Reset password</h1>
                <div class="input-wrapper">
                    <div class="sign-up__p">
                        Create a new password for your <div class="sign-up__p--highlight">Videoflix</div> account.
                    </div>
                    <app-password-input placeholder="Enter Password" [type]="password_type"
                        (inputChange)="onPasswordChange($event)"></app-password-input>
                    <app-password-input placeholder="Confirm Password" [type]="confirm_password_type"
                        (inputChange)="onConfirmPasswordChange($event)"></app-password-input>


                    <div class="visibility__password" (click)="switchPasswordVisibility()"><img
                            [src]="password_visibility" alt="visibility"></div>
                    <div class="visibility__confirm-password" (click)="switchConfirmPasswordVisibility()"><img
                            [src]="confirm_password_visibility" alt="visibility"></div>
                </div>
                <div class="err-msg-wrapper">
                    <div class="sign-up__err-msg" [style.display]="err_msg_active ? 'flex' : 'none'">
                        <img src="img/warning.svg" alt="warning">
                        {{ err_msg }}
                    </div>
                </div>
                <button [disabled]="!available" [ngClass]="available ? 'available' : 'unavailable'"
                    class="sign-up__btn">Reset my password</button>
            </div>
        </form>
    </div>

    <div class="imprint-and-pp">
        <a routerLink="/privacy-policy" class="imprint-and-pp__pp">Datenschutz</a>
        <a routerLink="/imprint" class="imprint-and-pp__imprint">Impressum</a>
    </div>

    <app-err-toast [is_err]="err_toast_is_error" [msg]="err_toast_msg" [hidden]="err_toast_hidden" class="err-toast"></app-err-toast>
</section>