<section>
    <header class="header">
        <img src="img/logo.svg" alt="logo" class="header__logo">
        <img (click)="returnToPreviousPage()" src="img/arrow_back.svg" alt="arrow_back" class="header__arrow">
    </header>

    <div class="paragraph">
        <div class="paragraph__group">
            <h2 class="paragraph__group--h2">Title</h2>
            <p class="paragraph__group--p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt voluptates, facere ut dicta culpa nam
                quisquam. In, cumque enim! Quos asperiores corporis soluta laborum nihil laboriosam similique iure illo
                nisi.</p>
        </div>

        <div class="paragraph__group">
            <h2 class="paragraph__group--h2">Title</h2>
            <p class="paragraph__group--p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt voluptates, facere ut dicta culpa nam
                quisquam. In, cumque enim! Quos asperiores corporis soluta laborum nihil laboriosam similique iure illo
                nisi.</p>
        </div>
        
        <div class="paragraph__group">
            <h2 class="paragraph__group--h2">Title</h2>
            <p class="paragraph__group--p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt voluptates, facere ut dicta culpa nam
                quisquam. In, cumque enim! Quos asperiores corporis soluta laborum nihil laboriosam similique iure illo
                nisi.</p>
        </div>
    </div>
</section>