<section>
    <header class="header">
        <img src="img/logo.svg" alt="logo" class="header__logo">
        <img (click)="returnToPreviousPage()" src="img/arrow_back.svg" alt="arrow_back" class="header__arrow">
    </header>

    <div class="paragraph">
        <div class="paragraph__group">
            <h2 class="paragraph__group--h2">Imprint</h2>
            <p class="paragraph__group--p">Ersan Bihorac</p>
            <p class="paragraph__group--p">Neudorferstra&szlig;e 170</p>
            <p class="paragraph__group--p">47057 Duisburg, Germany</p>
        </div>

        <div class="paragraph__group">
            <h2 class="paragraph__group--h2">Contact</h2>
            <p class="paragraph__group--p">Phone: +49 1637183213</p>
            <p class="paragraph__group--p">E-mail: ersan.bihorac.2003&#64;gmail.com</p>
        </div>
    </div>
</section>