<div #videoContainer>
    <video #videoPlayer class="video-player" (click)="toggleStartStop()"></video>

    <div #upperControls class="upper-controls" *ngIf="isOverlayVisible">
        <img (click)="returnToPreviousPage()" class="upper-controls__return-btn d-none-after700px" src="img/arrow_back.svg" alt="return">
        <img (click)="returnToPreviousPage()" class="upper-controls__return-btn d-none-before700px" src="img/close_small.svg" alt="return">

        <div class="logo-title-mobile-view">
            <p class="upper-controls__text">{{ this.cs.selectedVideo.video_title }}</p>
            <img class="upper-controls__logo" src="img/logo_symbol.svg" alt="logo">
        </div>
    </div>

    <div #lowerControls class="lower-controls" *ngIf="isOverlayVisible">
        <div class="lower-controls__progress">
            <div #timelineContainer (mousedown)="toggleScrubbing($event)" (mousemove)="handleTimelineUpdate($event)"
                class="time-line-container">
                <div class="time-line-container__timeline">
                    <div class="time-line-container__timeline__thumb"></div>
                </div>
            </div>
            <div class="lower-controls__progress--time">{{ video_duration }}</div>
        </div>
        <div class="lower-controls__icons">
            <div class="lower-controls__icons--right">
                <img class="lower-controls__icons--play" (click)="startVideo()" src="img/controls_play.svg" alt="play" *ngIf="video_paused">
                <img class="lower-controls__icons--pause" (click)="pauseVideo()" src="img/controls_pause.svg" alt="pause" *ngIf="!video_paused">
                <img class="lower-controls__icons--back" (click)="skipBackward()" src="img/controls_back10s.svg" alt="back10s">
                <img class="lower-controls__icons--forward" (click)="skipForward()" src="img/controls_forward10s.svg" alt="forward10s">

                <div class="volume-container d-none-after700px" (mouseenter)="showVolumeSlider()" (mouseleave)="hideVolumeSlider()">
                    <img (click)="mute()" src="img/controls_volume.svg" alt="volume" *ngIf="!volume_mute">
                    <img (click)="unmute()" src="img/controls_no_volume.svg" alt="no_volume" *ngIf="volume_mute">
                    <div class="volume-slider-container" (mouseenter)="onVolumeSliderMouseEnter()"
                        (mouseleave)="onVolumeSliderMouseLeave()">
                        <input *ngIf="isVolumeSliderVisible" type="range" min="0" max="100" [(ngModel)]="volume"
                            (input)="changeVolume($event)" class="volume-slider">
                    </div>
                </div>
            </div>
            <div class="lower-controls__icons--title">{{ this.cs.selectedVideo.video_title }}</div>
            <div class="lower-controls__icons--left">
                <div (click)="switchQuality(1080)" [ngClass]="resolution == 1080 ? 'active_resolution' : ''" class="lower-controls__icons__resolution">1080p</div>
                <div (click)="switchQuality(720)" [ngClass]="resolution == 720 ? 'active_resolution' : ''" class="lower-controls__icons__resolution">720p</div>
                <div (click)="switchQuality(480)" [ngClass]="resolution == 480 ? 'active_resolution' : ''" class="lower-controls__icons__resolution">480p</div>
                <img (click)="toggleFullscreen()" class="d-none-after700px" src="img/controls_fullscreen.svg" alt="fullscreen">
            </div>
        </div>
    </div>

    <app-err-toast (click)="goToLastPosition()" [is_err]="err_toast_is_error" [msg]="err_toast_msg" [hidden]="err_toast_hidden" class="err-toast"></app-err-toast>
</div>