<section>
    <div class="background"></div>

    <header class="header">
        <img src="img/logo.svg" alt="logo" class="header__logo">
    </header>

    <div class="message-wrapper">
        <div class="message">
            <h1 class="message__h1">Error 404</h1>
            <h2 class="message__h2">This page is not available <a routerLink="/homepage" class="message__h2--link">clickhere</a> to return to the homepage</h2>
        </div>
    </div>
    <div class="imprint-and-pp">
        <a routerLink="/privacy-policy" class="imprint-and-pp__pp">Datenschutz</a>
        <a routerLink="/imprint" class="imprint-and-pp__imprint">Impressum</a>
    </div>
</section>