<section>
    <div class="background"></div>

    <header class="header">
        <img src="img/logo.svg" alt="logo" class="header__logo">
        <app-login-btn></app-login-btn>
    </header>

    <div class="positioning-wrapper">
        <form (ngSubmit)="submit()">
            <div class="sign-up">
                <h1 class="sign-up__h1">Forgot your <br> password?</h1>
                <div class="input-wrapper">
                    <p class="sign-up__p">We will send you an email with instructions to <br> reset your password.</p>
                    <app-email-input placeholder="Email Address" type="email"
                        (inputChange)="onEmailChange($event)"></app-email-input>
                    <div class="err-msg-wrapper">
                        <div class="sign-up__err-msg" [style.display]="err_msg_active ? 'flex' : 'none'">
                            <img src="img/warning.svg" alt="warning">
                            {{ err_msg }}
                        </div>
                    </div>
                </div>
                <button [disabled]="!available" [ngClass]="available ? 'available' : 'unavailable'"
                    class="sign-up__btn">Send Email</button>
            </div>
        </form>

    </div>

    <div class="imprint-and-pp">
        <a routerLink="/privacy-policy" class="imprint-and-pp__pp">Datenschutz</a>
        <a routerLink="/imprint" class="imprint-and-pp__imprint">Impressum</a>
    </div>

    <app-err-toast [is_err]="err_toast_is_error" [msg]="err_toast_msg" [hidden]="err_toast_hidden" class="err-toast"></app-err-toast>
</section>