@import './../../../styles.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 96px;
    height: 96px;

    &__logo {
        height: 42px;
        width: 42px;
    }

    &__btn {
        padding: 12px 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 40px;
        background-color: $purple;
        color: white;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;

        &--logout-symbol {
            height: 24px;
            width: 24px;
        }
    }
}